replicaCount: 1

image:
  repository: localhost:5000/udemx/hello
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  host: udemx.local

namespace: udemx
