- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes

- name: Upgrade all packages
  ansible.builtin.apt:
    upgrade: dist

- name: Install basic packages
  ansible.builtin.apt:
    name:
      - sudo
      - mc
      - htop
      - fail2ban
      - ufw
      - curl
      - wget
      - gnupg
      - lsb-release
      - software-properties-common
      - apt-transport-https
      - ca-certificates
    state: present
