- name: Install parted
  apt:
    name: parted
    state: present

- name: Create partition on /dev/vdb for /opt
  community.general.parted:
    device: /dev/vdb
    number: 1
    state: present
    part_type: primary
    fs_type: ext4
    resize: yes

- name: Format /dev/vdb1
  filesystem:
    fstype: ext4
    dev: /dev/vdb1

- name: Mount /opt
  mount:
    path: /opt
    src: /dev/vdb1
    fstype: ext4
    opts: defaults
    state: mounted

- name: Create partition on /dev/vdc for /tmp
  community.general.parted:
    device: /dev/vdc
    number: 1
    state: present
    part_type: primary
    fs_type: ext4
    resize: yes

- name: Format /dev/vdc1
  filesystem:
    fstype: ext4
    dev: /dev/vdc1

#- name: Mount /tmp
#  mount:
#    path: /tmp
#    src: /dev/vdc1
#    fstype: ext4
#    opts: defaults
#    state: mounted
