- name: Install git
  ansible.builtin.apt:
    name: git
    state: present

- name: Configure git default user for udemx
  ansible.builtin.command: sudo -u "{{ user_name }}" git config --global user.name "{{ user_name }}"

- name: Configure git email
  ansible.builtin.command: sudo -u "{{ user_name }}" git config --global user.email "{{ user_email }}"

- name: Ensure ssh directory for git
  ansible.builtin.file:
    path: "{{ udemx_home }}/.ssh"
    state: directory
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
    mode: "0700"

- name: Check if host git SSH private key exists
  ansible.builtin.stat:
    path: "{{ host_git_ssh_private_key }}"
  register: host_git_priv_key

- name: Copy git SSH private key for udemx user
  ansible.builtin.copy:
    src: "{{ host_git_ssh_private_key }}"
    dest: "{{ udemx_home }}/.ssh/id_ed25519"
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
    mode: "0600"
  when: host_git_priv_key.stat.exists

- name: Configure SSH for GitHub
  ansible.builtin.copy:
    dest: "{{ udemx_home }}/.ssh/config"
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
    mode: "0600"
    content: |
      Host github.com
        HostName github.com
        User git
        IdentityFile {{ udemx_home }}/.ssh/id_ed25519
        IdentitiesOnly yes

- name: Fix SSH directory permissions
  ansible.builtin.file:
    path: "{{ udemx_home }}/.ssh"
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
    mode: "0700"
